body{
    display: grid;
    grid-template-rows: auto 1fr 10vh;
    padding: 25px 20px 35px 20px;
    font-family: var(--fonte-principal);
    background-color: black;
}

header img{
    max-width: 80vw;
    height: 15vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--branco);
    background-color: #000;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text h1{
    font-weight: 500;
    font-size: 2rem;
    width: 70%;
}

.text p{
    font-weight: 300;
    font-size: 1rem;
}

main form{
    padding: 0 12px;
    display: grid;
    align-items: center;
    gap: 2.5rem;
}

.input{
    gap: 12px;
    display: flex;
    align-items: center;
    position: relative;
}

.input::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--branco);
    bottom: -8px;
}

.input input, .input input::placeholder{
    color: var(--branco);
    font-weight: 300;
    width: 100%;
}

.container-botao{
    display: grid;
    gap: 0.5rem;
    width: 30%;
}

form button{
    place-self: center center;
    width: 100% !important;
}

form span{
    place-self: center right;
    padding-right: 5%;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    color: var(--branco);
}

footer span{
    font-size: 0.875rem;
    font-weight: 300;
   
}

footer a{
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: 2px 2px 2px #000;
}
